
// Estas dos clases 
.index__header {
    grid-area: header;
}

.index__footer {
    grid-area: footer;
}
//////////////////////////////////////////

#index__grid__container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr;
    grid-template-areas:
        "header header"
        "main main"
        "footer footer";
}

#index__main {
    background-image: url(../img/secondary-bg.webp);
    background-position: top;
    background-size: cover;
    height: 90vh;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    grid-area: main;


    & .main__titulo {
        font-size: 20px;
        color: $colorFuente
    }

    & .main__parrafo {
        font-size: 18px;
        margin: 30px 0;
        color: $colorFuente
    }

    & .main__boton {
        background-color: $colorBoton;
        display: block;
        padding: 15px 25px;
        border-radius: 10px;
    }

    & .main__boton {
        a {
            text-decoration: none;
            color: $colorFuente
        }
    }

    & .main__boton {
        & :hover {
            text-decoration: underline;
        }
    }
}