#nosotros__body {
    background-color: $colorFuente;
    display: grid;
    grid-template-rows: max-content 1fr max-content;
    grid-template-columns: 1fr 1fr;
    grid-area:
      "header header"
      "main   main"
      "footer footer"
    ;
}

.contacto__header {
    grid-area: header;
    grid-row: 1 / 2;
}
  
  .contacto__main {
    grid-area: main;
    grid-row: 2 / 3;
}
  
  .contacto__footer {
    grid-area: footer;
}

/* 
    ===================
    CONTENIDO PRINCIPAL
    ===================
*/

#nosotros__main{
    .contenedor__contenido{
        width: 90%;
        margin: 0 auto;
        padding: 2rem 0;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        .contenedor__img{
            img{
                height: auto;
                width: 25rem;
                border-radius: 7px;
                box-shadow: 1px 1px 15px 5px #09090b1c;
            }
            .caption{
                text-align: center;
                margin-top: 0.75rem;
                font-size: 14px; 
            }
        }
        .contenedor__historia{
            width: 50%;
            margin: 0 2rem;
        }
        .parrafo__nosotros{
            padding-top: 2rem;
            line-height: 1.75;
            text-align: justify;
        }
    }
    .titulo__principal{
        margin: 2rem 0;
        text-align: center;
    }
    
}