/* PARA TELEFONOS y MINI TABLETS (HASTA LOS 650PX DE ANCHO)*/
@media (max-width: 650px) {
    /* ==============================
         ESTILOS PARA TODAS LAS PAGINAS
         ==============================
      */

    /* HEADER */

    #header {
        display: flex;
        flex-direction: column;
        padding: 1em 0 0.5em 0;
        height: max-content !important;

        & .header__nav__ul {
            text-align: center;
            margin: 1rem auto;
            display: flex;
            flex-direction: row;
            justify-content: center;
            width: 90%;

            & .header__nav__ul__li {
                margin: 0 0.5rem;

                & .header__nav__ul__li__a {
                    font-size: 12px;
                }
            }
        }
    }

    /* FOOTER */

    #footer {
        display: flex;
        flex-direction: column;
        height: 8em;

        &>* {
            width: 80%;
            margin: 0 auto;
            font-size: 12px;
            text-align: center;
        }
    }

    /* INDEX (PAGINA DE INICIO) */

    #index__grid__container {
        max-width: 100%;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr;
        grid-template-areas:
            "header"
            "main"
            "footer";
    }

    #index__main {
        height: 80vh;

        & .main__titulo {
            font-size: 0.9rem;
            text-align: center;
            width: 90%;
        }

        & .main__parrafo {
            text-align: center;
            font-size: 0.9rem;
            width: 95%;
            margin: 2.5rem auto;
        }

        & .main__boton {
            padding: 12px 18px;
        }

        & .main__boton {
            font-size: 12px;
        }

    }


    /* PÁGINA DE SERVICIOS */

    #servicios__main {
        margin: 0 auto;
        padding: 3.5rem 0;

        & .titulo__principal {
            padding: 1rem 0;
        }

        & .main__card__container .card {
            margin: 0 auto;
        }

        & .titulo__principal {
            font-size: 0.9rem;
            padding: 0;
        }

        & .parrafo__principal {
            font-size: 1.1rem;
            padding: 2rem 0 3.5rem 0;
        }
    }

    /* PAGINA TERMINOS Y CONDICIONES */ 
    #t-y-c__main{
        .titulo__principal{
            h1{
                font-size: 1.5rem;
                text-align: center;
                margin: 0 2rem;
            }
        }
        .contenedor__condicion{
            width: 90%;
            margin: 0 auto;
            ol{
                font-size: 1rem;
                width: 90%;
                margin: 0 auto;
                li {
                    margin: 1.5rem 0;
                    p {
                        font-size: .8rem;
                        text-align: justify;
                        margin: 0 1rem;
                      }
                  }
              }
        } 
    }
   
}


/*AJUSTE DEL HEADER Y FOOTER PARA MINI TABLETS (APARTIR DE 480PX) */
@media (min-width: 480px) and (max-width: 650px) {

    /* HEADER */
    #header {
        display: flex;
        flex-direction: row;
        height: max-content;
        padding: 1em 0;
    }

    /* FOOTER */
    #footer {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        height: 6em;

        &>* {
            font-size: 12px;
            margin: 0;
        }
    }


}

/* PARA TABLETS MEDIANAS Y GRANDES (APARTIR DE 650PX DE ANCHO HASTA LOS 1023PX) */
@media (min-width: 651px) and (max-width:1023px) {

    /* HEADER */
    #header {
        height: 6em;
        background-color: red;
    }

    /* FOOTER */
    #footer {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        height: 6em;

        &>* {
            font-size: 1rem;
            margin: 0;
        }
    }

    /* PÁGINA DE INICIO (INDEX) */
    #index__main {
        & .main__titulo {
            font-size: 1.1rem;
            text-align: center;
            margin: 0 0.5rem;
            width: 95%;
        }

        & .main__parrafo {
            font-size: 1.15rem;
            margin: 55px 0;
            text-align: center;
            width: 90%;
        }

        & .main__boton {
            padding: 22px 31px;
        }
    }


}

/* AJUSTES PARA LAPTOP Y DESKTOP (APARTIR DE 1024PX) */
@media (min-width:1024px) {

    /* ESTILOS GENERALES PARA TODAS LAS PAGINAS */
    #header {
        display: flex;
        justify-content: space-around;

        .header__nav {
            .header__nav__ul {
                .header__nav__ul__li {
                    a {
                        font-size: 1.1rem;
                    }
                }

            }

        }

    }

    /* PAGINA DE INICIO (INDEX) */
    #index__main {
        & .main__titulo {
            font-size: 20px;
            text-align: center;
        }

        & .main__parrafo {
            font-size: 20px;
            width: 90%;
            text-align: center;
            margin: 3rem 0;
        }

        & .main__boton {
            padding: 18px 43px;
        }
    }
}

/* Ajuste mínimo para página contacto */
@media (max-width:875px) {
    #nosotros__body {
      grid-template-columns: 1fr;
      grid-template-areas:
        "header"
        "main"
        "footer";
        .titulo__principal {
            font-size: 1.5rem;
            padding: 3rem 0;
          }
        .contenedor__contenido {
            display: flex;
            flex-direction: column;
            width: 100%;
            padding-top: 0;
            .contenedor__img {
                padding-bottom: 2rem;
                margin: 0 1.5rem;
                img{
                    width: 100%;
                    height: auto;
                }
              }
            .contenedor__historia{
                width: 100%;
                .subtitulo__nosotros{
                    text-align: center;
                    font-size: .9rem;
                }
                .parrafo__nosotros {
                    text-align: justify;
                    font-size: .9rem;
                    margin: 0 auto;
                    width: 80%;
                  }
            }
        }
    }
}