#t-y-c__body {
    background-color: $colorFuente;
}

#t-y-c__main{
    display: flex;
    flex-direction: column;
    align-items: center;
    .titulo__principal {
        padding: 2rem 0;
    }
    .contenedor__condicion {
        width: 90%;
        margin: 0 auto;
        ol{
            font-size: 22px;
            li{
                p{
                    font-size: 18px;
                    line-height: 1.75;
                    margin-bottom: 2rem;
                }
            }
        }
    }
}