/*========================== 
  ANIMACIONES Y TRANSICIONES
  ==========================
 */

/* hover botón "conocer más" (index) */
#index__main {
  & .main__boton {
    transition: transform .25s ease-out;

    &:hover {
      transform: scale(1.08);
    }
  }
}

/* hover links header (para todas las páginas)*/
#header {
  & .header__nav__ul__li {
    transition: all .15s ease-in;

    &:hover {
      transform: translate(0, -25%);
    }
  }
}


/* hover boton card (servicios)*/
#servicios__main {
  & .main__card__container {
    & .card {
      & .card__btn {
        a {
          transition: transform .2s ease-out;
          transition-delay: 150ms;

          &:hover {
            transform: scale(1.08);
          }
        }
      }
    }
  }
} 

/* animaciones en contactos */

// boton email
#contacto__main{
  .seccion__email{
    .boton__enviar{
      transition: all .3s ease-out;
      &:hover{
        transform: scale(1.10);
        box-shadow: 1px 1px 7px 1px #09090b45;
      }
    }
  }
}

// redes sociales

#contacto__main{
  .seccion__redes-sociales{
    .icon__container{
      .icon{
        transition: all .25s ease-out;
        transition-delay: 100ms;

        &:hover{
          transform: scale(1.09) translate(0, -1rem);
        }
      }
    }
  }
}

//mapa iframe

#contacto__main{
  .seccion__mapa{
    .maps__iframe{
      transition: all .25s ease-out;
      transition-delay: 100ms;

      &:hover{
        transform: scale(1.08);
      }
    }
  }
}