
// VARIABLES PARA FUENTES
$fuentePrincipal: "Montserrat", sans-serif;
$colorFuente: #eee;

// VARIABLES PARA COMPONENTES
$fondoHeader: #09090b;
$colorBoton: #73a4ba; 
$colorBotonCards:#294658; 
$colorBotonCardsHover:#73a4ba;
$colorCards: #eee;
$sombraCards: -2px 4px 22px 4px rgba(37, 37, 37, 0.344);
$sombraBotonEmail:1px 1px 15px 5px #09090b1c;
$sombraImgNosotros:1px 1px 15px 5px #09090b1c;
$sombraMapaIframe: 1px 1px 15px 5px #09090b1c;
$fondoServicios: linear-gradient(90deg,
rgba(41, 70, 88, 1) 35%,
rgba(27, 44, 59, 1) 100%);